/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.left-side {

    -fx-background-color: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045); /* Instagram-like vibrant gradient */
} .up-form {
	
	-fx-background-color: skyblue;
	-fx-border-color: black;
}